* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #081b29;
    color: #ededed;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: 2s;
}
.navbar a {
font-size: 18px;
color: #ededed;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: 2s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.Home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.Home-content{
max-width: 400px;
}

.Home-content h1{
    font-size: 36px;
    font-weight: 200;
    line-height: 1;
}

.Home-content h3{
    font-size: 24px;
    font-weight: 150;
    color: #00abf0;
}
.Home-content p{
    font-size: 12px;
    margin: 15px 0 25px;

}

.Home-content .btn-box{
display: flex;
justify-content: space-between;
width: 200px;
height: 40px;

}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 6px;
    font-size: 14px;
    color: #081b29;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background-color: #00abf0;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
    
}